@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .img{
        @apply w-[2rem] aspect-square; 
    }

    .btn{
        @apply font-bold w-[11.6rem] lg:w-[12rem] h-[3.5rem] lg:h-[3.4rem] rounded-lg bg-[#2CBCA5] cursor-pointer text-nowrap shadow-sm shadow-[#2CBCA5];
    }
    
    .bttn{
        @apply w-[8rem] h-[2.5rem] rounded-full cursor-pointer text-nowrap text-center border-2 border-white/70 grid place-content-center;
    }

    /* w-[11.6rem] lg:w-[12rem] h-[3.5rem] lg:h-[3.4rem] */

    .input{
        @apply rounded-full w-[90%] lg:w-full max-w-[30rem] h-[3.3rem] outline-none text-black pl-3;
    }

    .search{
        @apply absolute h-full top-0 right-0 rounded-full text-white bg-[#2CBCA5] w-[11rem] sm:w-[10rem] px-[3rem] py-[1rem] overflow-clip;
    }

    .hero-img{
        @apply absolute h-[20rem] right-0 top-[20rem] -z-10 opacity-50;
    }









    .left-green::before{
        position: absolute;
        content: '';
        width: 3px;
        height: 20px;
        border-radius: 2px;
        background-color: #2CBCA5;
        left: -1rem;

    }

    .star::before{
        position: absolute;
        /* content: url('./sparkle.png'); */
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
        background-color: red;
    }
}